ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  color: $color-black-primary;
  text-decoration: none;
  @include transition;
  &:hover {
    color: $color-black-primary;
  }
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input {
  border-radius: 0;
}
select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}